# Ignore everything
*

# Whitelist patterns anchored to project root
!/.commitlint.yaml
!/.editorconfig
!/.gitattributes
!/.github/dependabot.yml
!/.github/PULL_REQUEST_TEMPLATE.md
!/.github/scripts/*.sh
!/.github/workflows/*.yml
!/.markdownlint.yml
!/.vscode/extensions.json
!/.vscode/header.code-snippets
!/.vscode/settings.json
!/.yamllint
!/action.yml

# Whitelist patterns found anywhere in project
!.gitignore
!CODE_OF_CONDUCT.md
!CODEOWNERS
!COPYRIGHT.md
!LICENSE
!MAINTAINERS.md
!README.md
!SECURITY.md

!*/
